@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --heading-font-family: "Kaushan Script", serif;
    --content-font-family: "Poppins", serif;
    --primary-text-color: rgb(153, 153, 153);
    --heading-text-color: #292929;
    --gray-bg: #f9f9f9;
    --link-border-color: #fdd912;
    --banner-text-color: #ffffff;
    --body-bg-color: #ffffff;
    font-size: 10px;
    --hero-bg-color: #000000;
}

body {
    background-color: var(--body-bg-color);
    font-family: var(--content-font-family);
    font-size: 1.5rem;
    color: var(--primary-text-color);
    font-weight: 300;
}

/* START COMMON STYLES */
h1, h2, h3, h4, h5, h6 {
    color: var(--heading-text-color);
    font-weight: 600;
}

h1, h2, h3{
    font-family: var(--heading-font-family) ;
}

h4, h5, h6 {
    font-family: var(--content-font-family) ;
}

h1 {
    font-size: 3.2rem;
    line-height: 4.6rem;
}

h2 {
    font-size: 4.4rem;
    line-height: 5.6rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 1.3rem;
}
p {
    line-height: 2.8rem;
    letter-spacing: 0.3px;
}

a, button {
    transition: all 0.4s ease 0s;
}
a {
    color: var(--primary-text-color);
    text-decoration: none;
}


a:hover {
    box-shadow: inset 0 -14px 0 #fdd912;
}

.section-outer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 120px 0;
}
.section-inner {
    max-width: 1200px;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
}
.dark-bg {
    background-color: var(--gray-bg);
}
/* END COMMON STYLES */


/* START ABOUT SECTION */
.about-section {
    display: flex;
    gap: 40px;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .about-section {
        flex-direction: column;
    }
}

.about-section img {
    max-width: 360px;
    width: 100%;
    height: auto;
}

.about-section > div {
    align-self: flex-start;
}

.about-section h2 {
    margin: 2.8rem 0;
}
.about-section p {
    margin-bottom: 2.8rem;
}

.about-section a {
    text-transform: uppercase;
    color: var(--heading-text-color);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2.4px;
    box-shadow: inset 0 -6px 0 #fdd912;
    display: inline-block;
}

.about-section a:hover {
    box-shadow: inset 0 -14px 0 #fdd912;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .about-section h2 {
        font-size: 3.5rem;
    }
}
/* END ABOUT SECTION */


/* START WHAT I DO */
.what-i-do .section-inner {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2.5rem;
    column-gap: 4rem;
}

@media screen and (max-width: 500px) {
    .what-i-do .section-inner {
        grid-template-columns: 1fr;
    }
}
.what-i-do h3 {
    grid-area: 1 / 1 / 2 / -1 ;
}


.what-i-do .service-item {
    display: flex;
    flex-direction: column;
    gap: 1.4rem; 
}
.what-i-do .service-item ion-icon {
    font-size: 44px;
    color: var(--link-border-color);
}
.what-i-do .service-item p {
    font-size: 1.3rem;
    line-height: 2.2rem;
}
.what-i-do .service-item h4 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
}
/* END WHAT I DO */


/* START CONTACT ME */
.contact-me form {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 2.5rem;
}


@media screen and (max-width: 500px) { 
    .contact-me form {
        grid-template-columns: 1fr
    }
}

.contact-me h3 {
    grid-area: 1 / 1 / 2 / -1 ;
}

.contact-me textarea {
    grid-column: 1 / span 2;
    height: 79px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 500px) { 
    .contact-me textarea {
        grid-column: 1 / -1 ;
    }
 }

.contact-me input[type="text"],
.contact-me input[type="email"]
{
    height: 4.8rem;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-me input[type="text"]:focus,
.contact-me input[type="email"]:focus,
.contact-me textarea:focus
{
    outline: none;
    border-bottom-color:rgba(0, 0, 0, 1);
}

.contact-me  button {
    background: none;
    border: 0;
    justify-self: start;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    box-shadow: inset 0 -6px 0 #fdd912;
    padding: 0;
}

.contact-me  button:hover {
    box-shadow: inset 0 -20px 0 #fdd912;
}
/* END CONTACT ME */

/* START HERO */
.hero-outer {
    width: 100%;
    height: 100vh;
    background-color: var(--hero-bg-color) ;
    background-image: url('../images/hero_bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero-outer .section-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hero-outer .hero-text {
    font-size: 10rem;
    color: #ffffff;
    font-weight: bold;
}

.hero-outer .hero-icons {
    display: flex;
}
.hero-outer  a {
    color: #fff;
    display: inline-block;
    width: 4.2rem;
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-outer ion-icon{
    font-size: 18px;
    
}

.hero-outer  a:hover {
    box-shadow: none;
    opacity: 0.8;
}


.main-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}
.main-nav  header {
    display: flex;
    justify-content: center;
    padding: 30px 35px;
}

.fixed-header {
    background-color: #ffffff;
    transition: all 1.5s ease 0ms;
}

h1 a {
    color: #ffffff;
}

.fixed-header h1 a {
    color: var(--heading-text-color);
}

h1 a:hover {
    box-shadow: none;
}

.main-nav  nav {
    display: none;
}

.fixed-header nav {
    display: block;
}

.main-nav nav ul {
    display: flex;
}

.main-nav .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav nav a {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    color: #999999;
    margin-left: 4.0rem;
}
.main-nav nav a:hover {
    color: var(--heading-text-color); 
    box-shadow: inset 0 -8px 0 #fdd912;
}
/* END HERO */

/* START RECENT WORKS */

.recent-works .section-inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.recent-works ul {
    display: flex;
}

.recent-works ul a {
    margin-right: 25px;
}

.recent-works .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.recent-works .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* END RECENT WORKS */

/* START LATEST BLOGS */
.blog{
    background-color: var(--gray-bg);
}
.blog-inner{
    display: flex;
}
.blog1{
    min-width: 300px;
    padding-right: 30px;
}

.blog3{
    max-width: 300px;
    padding-left: 30px;
}
/* END LATEST BLOGS */